<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Registration</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <div id="log-reg">
        <section>
            <h1>GoodMove</h1>
            <h2>Register Acnt</h2> 
            <!-- This is a comment that is cool -->
            <form class="newuser" action="/register" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="first_name">First Name</label>
                    <input type="text" name="first_name" id="first_name" class="form-control">
                </div>
                <div class="form-group">
                    <label for="last_name">Last Name</label>
                    <input type="text" name="last_name" id="last_name" class="form-control">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" class="form-control">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" class="form-control">
                </div>
                <div class="form-group">
                    <label for="confirm">Confirm Password</label>
                    <input type="password" name="confirm_pw" id="confirm_pw" class="form-control">
                </div>
                <button class="btn btn-primary">Register</button>
            </form>
        </section>
        <section>
            <h2>Login</h2>
            <form action="/login" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" class="form-control">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" class="form-control">
                </div>
                
                <button class="btn btn-primary">Register</button>
            </form>
        </section>
        <!-- <script>
            $('form.newuser').submit(function(e){
                e.preventDefault()
                $.ajax({
                    url: '/register',
                    method: 'post'/* Which HTTP verb? */,
                    data: $(this).serialize()/* Any data to send along? */,
                    success: function(serverResponse){
                        console.log(serverResponse)
                    }/* What code should we run when the server responds? */
                })
            })

        </script> -->
    </div>

    
</body>
</html>