*{
    margin: 0px;
    padding: 0px;
}


.top{
    
    background-color: rgb(10, 105, 105);
}
h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#home_img{
    height: 50px;
    width: 50px;
}
#logout{
    color: black;
    margin-top: 10px;
}
#list{
    color:black;
    margin-left: 10px;
}
.movie_details{
    text-align: center;
}
.img-body{
    margin: 23px;
    display: inline-block;
    /* border: black 1px solid; */
}

.jumbotron {
    padding: 0rem 2rem;
}
.middle{
    margin: 10px 20px 0px 20px;
}
.middle_movie{
   margin-left: 540px;
}

.top1{
    /* width: 49%; */
    /* display: inline-block; */
    text-align: center;

}
#add_to_watchlist{
    text-align: center;
}


#search{
    width:300px;
    display: inline-block;
    margin-left: 220px;

} 
